# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/snippets/build/
/snippets/dist/
/PDFs/
/Particles/build/
/Particles/dist/